@import 'variables'
@import 'bootstrap'
//@import 'animations'
//@import 'date_time'
//@import 'syntax-highlight'
//@import 'fonts'

.navbar a.navbar-brand
  color: #fff
  text-shadow: none
  padding: 0
  background: image_url("logo.png") no-repeat
  width: 120px
  height: 60px
  min-height: 1px
  background-position: 10px 16px
  background-size: 101px auto
  font-size: 0

//** container

.container
  max-width: 77rem

//** articles and pages

.articles .article
  margin-bottom: 6.4rem

.article-title
  margin: 0 0 0.8rem 0
  font-size: 3.2rem

.article-title,
.article-title a
  color: $gray

.article-date
  @extend .lead
  margin-bottom: 1.6rem
  color: $gray-light

.article-body
  font-size: 2rem
  line-height: 3.1rem
  p, ul
    margin-bottom: 3.1rem

.article-social
  font-size: 1.8rem
  background-color: #f8f8f8
  color: $text-muted
  padding: 1rem 1.5rem
  margin-top: 3.8rem
  h4
    float: left
    margin: 0.4rem 1rem 0 0
    font-weight: 200
    font-size: inherit
  ul
    @extend .list-inline
    margin: 0
    > li
      padding: 0 0.5rem
    > li > a
      font-size: 2rem

.author
  margin-top: 3.8rem

.author-avatar
  width: 82px

.author-name
  color: $gray

.author-desc
  font-size: 1.8rem
  line-height: 2.8rem
  color: $gray-light

.comments
  margin-top: 6.4rem

.fa-inline
  margin-right: 0.25rem
